.charge-container{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.charge-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top:40px;
}

.charge-details>div>span{
    font-size:22px;
    font-weight: bold;
    color: white;
}

.charge-container>div{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 130px;
    color:rgba(0,0,0,0.6);
    font-size:23px;
    font-weight: bold;
}

.charge-container >.corss-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right:15px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}

.charge-details > h2{
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    color: white;
    padding: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

.charge-details > div {
 text-transform: capitalize;
}